[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gcsa = "*"
gunicorn = "*"
eventlet = "*"
Flask = "*"

[scripts]
statuscal = "bash -c 'FLASK_APP=app.py flask run'"
