<!doctype html>
<html>
<head>
    <title>Statuscal</title>

    <style>
body {
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 0 !important;
}

body, .container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #343a40;
    margin: 0;
    padding: 0;
}

.event {
    background: yellow;
    width: auto;
    padding: 20px;
}

.event .primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event h1 {
    font-size: 45px;
    margin: 0;
}

.event h2 {
    font-size: 30px;
    margin: 5px;
}

.event h3 {
    font-size: 25px;
    margin: 5px;
}

.event .left {
    /* fix truncated text */
    min-width: 0;
}

.event:not(.clicked) .left h1,
.event:not(.clicked) .left h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event .right {
    text-align: center;
    min-width: 250px;
}

.event .time {
    font-size: 50px;
    font-weight: 100;
}

.event .length {
    font-size: 30px;
    font-weight: 100;
    padding-top: 5px;
}

.event:not(.clicked) .secondary {
    display: none;
}
    </style>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2020"></script>
    <script src="/static/js/superagent.js"></script>
    <script>
function render(tplId, dict) {
    var tpl = document.querySelector("script#" + tplId);
    var html = tpl.innerHTML;
    for (var key in dict) {
        html = html.replace(new RegExp("\\{" + key + "\\}", "g"), dict[key]);
    }
    return html;
}

function safe(txt) {
    var tmp = document.createElement('div');
    tmp.innerText = txt;
    return tmp.innerHTML;
}

function minDiff(future, past) {
    return (+new Date(future) - +new Date(past)) / (1000 * 60);
}

function printHourMin(date) {
    var hr = date.getHours();
    var mn = date.getMinutes();
    if (hr < 12) {
        if (hr == 0) hr = 12;
        return hr + ':' + printWithZero(mn) + 'a';
    }
    if (hr == 12) hr += 12;
    return (hr-12) + ':' + printWithZero(mn) + 'p';
}

function printWithZero(n) {
    if (n < 10) {
        return '0' + n;
    }
    return ''+n;
}

function printDayOfWeek(date) {
    return ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'][date.getDay()];
}

function updateBgColors(now) {
    var count = 0;
    document.querySelectorAll(".event").forEach(function(e) {
        var date = new Date(e.getAttribute("data-start"));
        var dateEnd = new Date(e.getAttribute("data-end"));

        var minsUntil = minDiff(date, now);
        var minsUntilEnd = minDiff(dateEnd, now);
        var minsTotal = minDiff(dateEnd, date);

        var midColor = 128;
        if (minsTotal >= 1440) {
            // Keep solid color for full day events
            midColor = 128;
        } else if (minsUntil < 0) {
            // While events are occurring, make them focus out
            var ratio = 60 * ((minsTotal - minsUntilEnd) / minsTotal);
            midColor = Math.max(68, Math.min(68 + ratio, 128));
        } else if (minsUntil < 60) {
            // As it gets closer to events occurring, make them focus in
            midColor = Math.max(68, Math.min(68 + minsUntil, 128));
        }

        var firstColor = 128;
        var lastColor = 0;

        firstColor -= 20 * count;
        firstColor = Math.max(0, Math.min(firstColor, 255));

        lastColor += 20 * count;
        lastColor = Math.max(0, Math.min(lastColor, 128));

        e.style.background = 'rgb('+firstColor+', ' + midColor + ', '+lastColor+')';

        if (minsUntil > 0) {
            count++;
        }

    })
}

function fetchCalendar() {
    console.log("Fetching calendar at", new Date());
    var jsonPath = location.pathname + "/events.json";
    //var jsonPath = "../sample_events.json";
    superagent.get(jsonPath, function(resp) {
        var data = JSON.parse(resp.text);
        updateCalendar(data["events"], new Date());
        console.log("fetchCalendar complete at", new Date());
    })
}

function updateCalendar(events, now) {
    window.events = events;
    var container = document.querySelector(".container");
    container.innerHTML = '';
    var processedEvents = [];
    events.forEach(function(event) {
        if (!event.start || !event.end) return;
        // Force all-day events to properly show up in the user's local timezone
        // (Changes e.g. "Wednesday 8pm - Thursday 8pm" to "Thursday 12am - Friday 12am")
        if (event.start.endsWith('00:00:00 GMT') && event.end.endsWith('00:00:00 GMT')) {
            var dateParts = ('' + new Date()).split(' ');
            var currentTz = 'GMT-0400';
            for (var i=0; i<dateParts.length; i++) {
                if (dateParts[i].startsWith('GMT')) {
                    currentTz = dateParts[i];
                    break;
                }
            }
            event.start = event.start.replace('GMT', currentTz);
            event.end = event.end.replace('GMT', currentTz);
        }

        var timeMins = minDiff(event.start, now);
        var lengthMins = parseInt(minDiff(event.end, event.start));

        var startDate = new Date(event.start);
        var endDate = new Date(event.end);

        console.log(event.summary, timeMins, lengthMins, event);

        // Skip duplicated events (on multiple calendars)
        if (processedEvents.indexOf(event.summary + startDate + endDate) != -1) {
            console.log('skipping duplicate')
            return;
        }
        processedEvents.push(event.summary + startDate + endDate);

        // Hide events that have already finished if they still appear
        if (timeMins < -1 * lengthMins) {
            return;
        }

        var eventType, time, length;
        if (lengthMins == 0) {
            eventType = 'reminder';
            time = 'reminder';
            length = '';
        } else if (lengthMins >= 1440) {
            eventType = 'allday';
            if (printDayOfWeek(startDate) == printDayOfWeek(now)) {
                time = '<b>all day</b>';
            } else {
                time = '<b>' + printDayOfWeek(startDate) + '</b>';
            }
            if (lengthMins > 1440) {
                length = 'until <b>' + printDayOfWeek(endDate) + '</b>';
            } else {
                length = '';
            }
        } else {
            eventType = 'normal';
            time = '<b>now</b>';
            if (lengthMins < 60) {
                length = 'for <b>' + lengthMins + ' min</b>';
            } else if (lengthMins < 4 * 60) {
                var lengthHalfHours = parseInt(lengthMins / 30);
                length = 'for <b>' + (lengthHalfHours / 2) + ' hr' + (lengthHalfHours > 2 ? 's' : '') + '</b>';
            } else {
                var lengthHours = parseInt(lengthMins / 60);
                length = 'for <b>' + lengthHours + ' hrs</b>';
            }

            if (timeMins < -120) {
                var endingMins = minDiff(event.end, now);
                var endingHours = parseInt(endingMins / 60);
                length = '<b>' + endingHours + ' hrs</b> left';
            } else if (timeMins <= -60) {
                var endingMins = minDiff(event.end, now);
                var endingHalfHours = parseInt(endingMins / 30);
                length = '<b>' + (endingHalfHours / 2) + ' hr' + (endingHalfHours > 2 ? 's' : '') + '</b> left';
            } else if (timeMins < -2) {
                var endingMins = minDiff(event.end, now);
                length = '<b>' + parseInt(endingMins) + ' min</b> left';
            } else if (timeMins <= 2 && timeMins > -2) {
                time = '<b>starting</b>';
            } else if (timeMins > 2 && timeMins < 60) {
                time = 'in <b>' + parseInt(timeMins) + ' min</b>';
            } else if (timeMins < 4 * 60) {
                var timeHalfHours = parseInt(timeMins / 30);
                time = 'in <b>' + (timeHalfHours / 2) + ' hr' + (timeHalfHours > 2 ? 's' : '') + '</b>';
            } else if (timeMins < 12 * 60 || printDayOfWeek(startDate) == printDayOfWeek(now)) {
                time = 'at <b>' + printHourMin(startDate) + '</b>';
            } else {
                time = '<b>' + printDayOfWeek(startDate) + '</b>';
            }

        }

        var attendees = "";
        if (event.attendees && event.attendees.length > 0) {
            attendees += "Attending: ";
            event.attendees.forEach(function(e) {
                var atIndex = e.email.indexOf('@');
                attendees += e.email.substr(0, atIndex);
                if (e.response_status == 'accepted') {
                    attendees += ' (✓)';
                }
                attendees += ", ";
            });
            attendees = attendees.substr(0, attendees.length - 2);
            if (attendees.length > 100) {
                attendees = attendees.substr(0, 97) + "...";
            }
        }

        var startDisp = printDayOfWeek(startDate) + " " + printHourMin(startDate);
        var endDisp = (printDayOfWeek(endDate) != printDayOfWeek(startDate) ? printDayOfWeek(endDate) + " " : "") + printHourMin(endDate);

        container.innerHTML += render('event', {
            'summary': safe(event.summary),
            'description': safe(event.description),
            'time': time,
            'length': length,
            'location': safe(event.location),
            'attendees': attendees,
            'start': event.start,
            'end': event.end,
            'startDisp': startDisp,
            'endDisp': endDisp,
            'id': event.id,
            'eventType': eventType,
            'calendarName': safe(event.calendar_name)
        });
        if (event.id in window.eventClasses) {
            document.querySelector('.event[data-id="' + event.id + '"').setAttribute('class', window.eventClasses[event.id]);
        }
    });
    updateBgColors(now);
}

window.eventClasses = {};
function eventClick(ths) {
    var ths = ths || this;

    ths.classList.toggle('clicked');
    window.eventClasses[ths.getAttribute("data-id")] = ths.getAttribute("class");

}

window.onload = function() {
    fetchCalendar();

    // Update event colors/remove past events every minute
    window.updateInterval = setInterval(function() {
        updateCalendar(window.events, new Date());
    }, 1000 * 60);

    // Get new calendar information every 30 minutes
    window.fetchInterval = setInterval(fetchCalendar, 1000 * 60 * 30);

    if (window.location.search.indexOf('zoom=') != -1) {
        var zoomParam = window.location.search.split('zoom=')[1];
        zoomParam = zoomParam.split('&')[0];
        document.body.style.zoom = zoomParam;
    }

    if (window.location.search.indexOf('wheel=') != -1) {
        var wheelParam = window.location.search.split('wheel=')[1];
        wheelParam = wheelParam.split('&')[0];
        if (wheelParam.length == 0) wheelParam = new Date();
        var n = +new Date(parseInt(wheelParam));
        setTimeout(function() {
            setInterval(function() {
                console.log(new Date(n));
                updateBgColors(new Date(n));
                document.querySelectorAll(".event").forEach(function(e) {
                    var dateEnd = new Date(e.getAttribute("data-end"));
                    if (minDiff(dateEnd, new Date(n)) < 0) {
                        e.style.display = 'none';
                    }
                });
                n += 60 * 1000;
            }, 100);
        }, 3000);
    }
}
    </script>
    <script id='event' type='text/template'>
<div class="event {eventType}" data-start="{start}" data-end="{end}" ata-id="{id}" onclick="eventClick(this)">
    <div class="primary">
        <div class="left">
            <h1>{summary}</h1>
        </div>
        <div class="right">
            <div class="time">{time}</div>
            <div class="length">{length}</div>
        </div>
    </div>
    <div class="secondary">
        <h2>{startDisp} - {endDisp} ({calendarName})</h2>
        <h3>{location}</h3>
        <h3>{attendees}</h3>
    </div>
</div>
    </script>
</head>
<body>

<div class="container">

</div>

</body>
</html>
